*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100dvh;
  background-color: $base-background-color;
}

#root {
  min-height: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:active {
    outline: 0;
  }
}
