// Base Variables
$base-font-family: "Inter", sans-serif;
$base-font-size: 10px;
$base-background-color: #fafafa;

// Colors
$color-white: #fff;
$color-primary: #ff5733;
$color-text-primary: #0a2540;
