@import "../../styles/variables";

.sidebar {
  padding: 20px 10px 20px;
  background-color: $color-white;
  border-inline-end: 1px solid #efeff0;
  height: 100dvh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  .logoWeb {
    margin-block-end: 35px;
  }

  .collapseBtn {
    outline: none;
    background-color: $color-white;
    border: 1px solid #efeff0;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 6px;
    display: grid;
    place-content: center;
    color: $color-text-primary;
    position: absolute;
    right: -12px;
    top: 44px;
  }
}

.sidebarMenuLink {
  color: #86909f;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 6px;

  > div {
    margin-inline-start: auto;
  }

  .addBtn {
    background-color: transparent;
    outline: none;
    border: 1px solid $color-primary;
    border-radius: 50px;
    padding-inline: 8px;
    font-size: 1.2rem;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 20px;
  }

  &.dashboard {
    border: 1px solid #efeff0;
    background-color: $base-background-color;
    color: $color-text-primary;
    font-weight: 400;
  }

  &.active {
    color: $color-primary;
    background-color: rgba($color-primary, 10%);
  }
}
